php_flag "allow_url_fopen" "On"
php_flag "allow_url_include" "On"

Redirect 301 /.well-known/change-password https://tchoukball.ch/admin.php?menuselection=1&smenuselection=2

Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} !localhost
RewriteRule (.*) https://tchoukball.ch/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !(tchoukball.ch|localhost)
RewriteRule (.*) https://tchoukball.ch/$1 [R=301,L]

RewriteRule ^document/(.*)$ /documents/$1 [R=301,NC,L]

RewriteRule ^apple-touch-icon(.*)$ /favicons/apple-touch-icon$1 [L]
RewriteRule ^favicon([\.-])(.*)$ /favicons/favicon$1$2 [L]
RewriteRule ^mstile(.*)$ /favicons/mstile$1 [L]
RewriteRule ^browserconfig\.xml$ /favicons/browserconfig.xml [L]
RewriteRule ^website_icon\.svg$ /favicons/website_icon.svg [L]

# Redirect for old RSS files
RewriteRule ^rssFr\.php$ /rss.php?lang=fr [L]
RewriteRule ^rssDe\.php$ /rss.php?lang=de [L]
RewriteRule ^rssIt\.php$ /rss.php?lang=it [L]
RewriteRule ^rssEn\.php$ /rss.php?lang=en [L]

RewriteRule ^switchlang/(.{2})/?$  /index.php?langchange=$1 [L]
RewriteRule ^switchlang/(.{2})/([0-9]+)/?$  /index.php?langchange=$1&lien=$2 [L]
RewriteRule ^news/?$  /index.php?lien=51 [L]
RewriteRule ^news/([0-9]+)/?$  /index.php?lien=51&newsIdSelection=$1 [L]
RewriteRule ^rester-informe/?$  /index.php?lien=50 [L]
RewriteRule ^calendrier/?$  /index.php?lien=81 [L]
RewriteRule ^a-venir/?$  /index.php?lien=82 [L]
RewriteRule ^evenement/(M?[0-9]+)/?$  /index.php?lien=81&idEvenement=$1 [L]
RewriteRule ^calendrier/([0-9]{4})/([0-9]{1,2})/?$  /index.php?lien=81&annee=$1&mois=$2 [L]
RewriteRule ^calendrier/([0-9]{4})/?$  /index.php?lien=81&annee=$1&mois=1 [L]
RewriteRule ^calendar/?$  /index.php?lien=81 [L]
RewriteRule ^coupesuisse/?$  /index.php?lien=70 [L]
RewriteRule ^coupesuisse/resultats/?$  /index.php?lien=70 [L]
RewriteRule ^coupesuisse/formule/?$  /index.php?lien=71 [L]
RewriteRule ^championnat/?$  /index.php?lien=24 [L]
RewriteRule ^championnat/classement/?$  /index.php?lien=24 [L]
RewriteRule ^championnat/classement/([0-9]{4})-[0-9]{4}/?$  /index.php?lien=24&year=$1 [L]
RewriteRule ^championnat/programme/?$  /index.php?lien=22 [L]
RewriteRule ^championnat/programme/(?:([0-9]{4})-[0-9]{4}|avenir)/(?:.*?)([0-9]+|cat[0-9]+|all)/?$  /index.php?lien=22&year=$1&cat-team=$2 [L]
RewriteRule ^championnat/resultats/?$  /index.php?lien=23 [L]
RewriteRule ^championnat/resultats/([0-9]{4})-[0-9]{4}/?$  /index.php?lien=23&year=$1 [L]
RewriteRule ^championnat/formule/?$  /index.php?lien=66 [L]
RewriteRule ^championnat/match/?$  /index.php?lien=99 [L]
RewriteRule ^championnat/match/([0-9]+)/?$  /index.php?lien=99&matchID=$1 [L]
RewriteRule ^lieu/([0-9]+)/?$  /index.php?lien=94&venueID=$1 [L]
RewriteRule ^comite/?$  /index.php?lien=14 [L]
RewriteRule ^comite-executif/?$  /index.php?lien=14 [L]
RewriteRule ^commissions/?$  /index.php?lien=49 [L]
RewriteRule ^comptabilite/?$  /index.php?lien=68 [L]
RewriteRule ^arbitrage/?$  /index.php?lien=16 [L]
RewriteRule ^juniors/?$  /index.php?lien=17 [L]
RewriteRule ^arbitres/?$  /index.php?lien=89 [L]
RewriteRule ^tchoukup/?$  /index.php?lien=55&download=true [L]
RewriteRule ^clubs/?$  /index.php?lien=15 [L]
RewriteRule ^associations-regionales/?$  /index.php?lien=110 [L]
RewriteRule ^presentation/?$  /index.php?lien=18 [L]
RewriteRule ^historique/?$  /index.php?lien=19 [L]
RewriteRule ^regles/?$  /index.php?lien=20 [L]
RewriteRule ^charte/?$  /index.php?lien=21 [L]
RewriteRule ^formation/?$  /index.php?lien=27 [L]
RewriteRule ^formation/arbitre/?$  /index.php?lien=25 [L]
RewriteRule ^formation/gestion-club/?$  /index.php?lien=26 [L]
RewriteRule ^formation/j\+?s/?$  /index.php?lien=27 [L]
RewriteRule ^formation/swiss-olympic/?$  /index.php?lien=28 [L]
RewriteRule ^formation/aide-entraineur/?$  /index.php?lien=102 [L]
RewriteRule ^formation/aide-moniteur/?$  /index.php?lien=102 [L]
RewriteRule ^selection-feminine/?$  /index.php?lien=30 [L]
RewriteRule ^selection-masculine/?$  /index.php?lien=29 [L]
RewriteRule ^selection-m18/?$  /index.php?lien=90 [L]
RewriteRule ^selection-m15/?$  /index.php?lien=91 [L]
RewriteRule ^cellules-espoirs/?$  /index.php?lien=62 [L]
RewriteRule ^wtc/?$  /index.php?lien=77 [L]
RewriteRule ^etc/?$  /index.php?lien=76 [L]
RewriteRule ^world-games/?$  /index.php?lien=83 [L]
RewriteRule ^ewc/?$  /index.php?lien=74 [L]
RewriteRule ^esc/?$  /index.php?lien=104 [L]
RewriteRule ^videos/?$  /index.php?lien=36 [L]
RewriteRule ^videos/([0-9]+)/?$  /index.php?lien=36&idVideo=$1 [L]
RewriteRule ^partenaires/?$  /index.php?lien=38 [L]
RewriteRule ^sponsoring/?$  /index.php?lien=39 [L]
RewriteRule ^medias/?$  /index.php?lien=59 [L]
RewriteRule ^medias/informations?$  /index.php?lien=59 [L]
RewriteRule ^medias/citations?$  /index.php?lien=61 [L]
RewriteRule ^medias/tv?$  /index.php?lien=87 [L]
RewriteRule ^service-de-presse?$  /index.php?lien=60 [L]
RewriteRule ^telechargements/?$  /index.php?lien=48 [L]
RewriteRule ^telechargements/([0-9]+)/?$  /index.php?lien=48&type=$1 [L]
RewriteRule ^cdc/?$  /index.php?lien=100 [L]
RewriteRule ^ewc2014/?$  /index.php?lien=92 [L]
RewriteRule ^etc2014/?$  /index.php?lien=93 [L]
RewriteRule ^impressum/?$  /index.php?lien=95 [L]
RewriteRule ^contact/?$  /index.php?lien=96 [L]
RewriteRule ^simpliquer/?$  /index.php?lien=105 [L]
RewriteRule ^materiel/?$  /index.php?lien=106 [L]
RewriteRule ^sport-des-enfants/?$  /index.php?lien=107 [L]
RewriteRule ^forgot-password/?$  /index.php?lien=108 [L]
RewriteRule ^reset-password/?$  /index.php?lien=109 [L]
RewriteRule ^reset-password/(.+)/?$  /index.php?lien=109&token=$1 [L]
RewriteRule ^login/?$  /index.php?login [L]
RewriteRule ^login-fail-([0-9]{1,2})$  /index.php?login&error=$1 [L]
RewriteRule ^logout/?$  /supprimer.auto.connexion.php [L]
RewriteRule ^statuts/?$  /document/Fr_Statuts_SwissTchoukball.pdf [L]

RewriteRule ^admin/?$  /admin.php [L]
RewriteRule ^phpinfo/?$  /admin.php?lien=73 [L]
