<div ng-if="!$ctrl.selectedTeam">
    <!-- Registered teams -->
    <h3>Équipes inscrites</h3>
    <ul>
        <li ng-repeat="team in $ctrl.teams">
            <span class="asLink"
                  ng-click="$ctrl.selectTeam(team.id)">
                Saison {{team.season.name}}, {{team.category.name}}, {{team.club.name}} : {{team.name}}
            </span>
            <span ng-if="team.feePaymentDate !== undefined">
                <span class="label label--ok" ng-if="team.feePaymentDate">Payé</span>
                <span class="label label--error" ng-if="!team.feePaymentDate">Non-payé</span>
            </span>
        </li>
    </ul>
</div>

<!-- Selected team -->
<st-team
        ng-if="$ctrl.selectedTeam"
        st-team="$ctrl.selectedTeam"
        st-go-back="$ctrl.unselectTeam()">
</st-team>