// Descriptive variables
@colorRed: #dd0000;
@colorRedSwiss: #f00000;
@colorGreen: #00dd00;
@colorGreenDark: #006600;
@colorBlue: #0044dd;
@colorBlueFacebook: #3b5998;
@colorBlueTwitter: #1da1f2;
@colorOrange: #ff8800;
@colorYellow: #ffcc00;

@colorGrayVeryLight: #eee;
@colorGrayLight: #ccc;
@colorGrayMedium: #999;
@colorGrayDark: #666;
@colorGrayVeryDark: #222;

// First level function variables
@colorPrimary: @colorRedSwiss;
@colorPrimaryDarken: darken(@colorPrimary, 10%);
@colorPrimaryTextOnLightBg: black;
@colorPrimaryTextOnDarkBg: white;
@colorPositive: @colorGreenDark;
@colorNegative: @colorRed;
@colorNeutral: @colorGrayMedium;
@colorLessImportant: @colorGrayMedium;

// Seconde level function variables
@colorFocus: lighten(@colorPrimary, 30%);
@colorTableAltBackground: lighten(@colorPrimary, 50%);
@colorInvalid: lighten(@colorNegative, 30%);
@colorInfo: @colorBlue;
@colorSuccess: @colorPositive;
@colorError: @colorNegative;
@colorBlankSlate: @colorGrayDark;
@colorBackground: @colorGrayLight;
@colorSideBar: @colorGrayVeryLight;
@colorReadOnlyBackground: @colorGrayVeryLight;
@colorReadOnlyForeground: @colorGrayDark;
@colorQuote: @colorGrayMedium;
@colorSwissPost: @colorYellow;
@colorLink: @colorPrimaryDarken;
@colorLinkHover: @colorPrimary;