
h1, h2, h3, h4, h5 {
  main & {
    color: black;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
    border-left: 5px solid @colorPrimaryDarken;
    padding-left: 8px;

    &.alt {
      border-left: none;
      text-align: center;
      padding-left: 0;
      .gradient(linear; white, @colorGrayVeryLight);
      padding-top: 10px;
      border-top: 2px solid @colorPrimaryDarken;
    }

    a, a:link, a:visited, a:hover {
      color: black;
    }
  }
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;

  select {
    font-weight: bold;
    background-color: transparent;
    border: none;
  }
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}