a {
}

a img {
  border: none;
}

a:link, .asLink {
  color: #c33;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #c33;
  text-decoration: none;
}

a:hover, .asLink:hover {
  color: #f99;
}

a:active, .asLink:active {
  color: #c33;
}