blockquote {
  font-size: 12px;
  line-height: 2;
  padding: 20px;
}

q {
  font-size: 12px;
}

cite {
  font-size: 12px;
  color: #999999;
}

q:before {
  content: "« ";
}

q:after {
  content: " »";
}

cite:before {
  content: none;
}