/* RESPONSIVE */

	.tbw-results.hide-periods .score-period,
	.tbw-results.hide-link .match-state
	{
		display: none;
	}
	.tbw-results table {
		width: 100%;
	}

/* FORMAT */

	.tbw-results td {
		vertical-align: middle ;
		text-align: center ;
	}

	.tbw-results .name-team-a,
	.tbw-results .name-team-b {
		text-align: left;
		white-space: nowrap;
	}

	.tbw-results a {
		height: 100%;
	}

	.tbw-results .last-update {
		text-align: center;
		padding : 10px 0 ;
	}

	.tbw-results .score-team-a,
	.tbw-results .score-team-b {
		font-weight: bold;
	}

/* THEME */

	.tbw-results table {
		border-collapse: collapse;
	}

	.tbw-results th {
		background: #EEE;
		font-weight: bold;
		text-align: left;
		padding: 5px;
		color: #333;
		border: 1px solid #ccc;
	}

	.tbw-results td {
		border : 1px solid #ddd ;
	}

	.tbw-results .row-odd td {
		background-color : #f6f6f6 ;
	}

