<ul ng-if="!$ctrl.selectedCategoryBySeason">
    <li class="asLink"
        ng-repeat="categoryBySeason in $ctrl.openCategoriesBySeason"
        ng-click="$ctrl.selectCategoryBySeason(categoryBySeason)">
        Saison {{categoryBySeason.seasonName}}, {{categoryBySeason.category.name}}
    </li>
</ul>


<st-championship-registration-form
        ng-if="$ctrl.selectedCategoryBySeason"
        st-category-by-season="$ctrl.selectedCategoryBySeason"
        st-club-id="{{$ctrl.clubId}}"
        st-go-back="$ctrl.unselectCategoryBySeason()"
        st-send-registration="$ctrl.sendRegistration(registration)">
</st-championship-registration-form>