.button {
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px @colorFocus;
  }

  &--primary {
    background-color: @colorPrimary;
    font-weight: bold;
    color: white;
    border: none;

    &:active {
      background-color: @colorPrimaryDarken;
    }

    &[disabled] {
      background-color: @colorLessImportant;
    }
  }

  &--cancel {
    border: 1px solid @colorLessImportant;
    background-color: transparent;
    color: @colorLessImportant;

    &:active {
      background-color: @colorGrayVeryLight;
    }
  }
}

.emoji-button {
  cursor: pointer;
}

.paypal-button input {
  border: none;
  margin: 20px 0;
}