.committee-member {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;

  .committee-member__person {
    width: 400px;
  }

  .committee-member__accountabilities {
    margin-top: 30px;
  }
}