.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: [first-line] auto [second-line] auto [third-line] auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-size: 1.1em;

  &--with-announcement {
    grid-template-rows: [announcement] auto [first-line] auto [second-line] auto [third-line] auto;
  }

  .homepage-block {
    &--hidden {
      display: none;
    }

    &--announcement {
      grid-row-start: announcement;
      grid-column-start: 1;
      grid-column-end: 4;
      font-weight: bold;
      font-size: 1.6em;
      text-align: center;

      &__cta {
        display: inline-block;
        color: @colorPrimaryTextOnDarkBg;
        background-color: @colorPrimary;
        border-radius: 5px;
        padding: 5px;
      }
    }

    &--latest-news {
      grid-row-start: first-line;
      grid-column-start: 1;
      grid-column-end: 4;
      text-align: justify;
      line-height: 1.5;
      font-size: 1.2em;

      h2 {
        text-align: left;
      }

      h5 {
        font-size: 14px;
        border: none;
        line-height: 1;
        font-weight: bold;
      }

      p {
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        float: right;
        padding-left: 10px;
        padding-bottom: 10px;
      }
    }

    &--news-list {
      grid-row-start: second-line;
    }

    &--newsletter {
      grid-row-start: second-line;
      grid-column-start: 3;
      form {
        text-align: center;

        .inf-content > * {
          display: inline-block;
        }

        .inf-input input {
          font-size: 1.1em;
          border-radius: 5px;
          padding: 5px;
          width: 145px;
        }

        .inf-submit input[type=submit] {
          .button;
          background-color: @colorPrimary;
          font-weight: bold;
          color: white;
          border: none;
          padding: 5px 6px;

          &:active {
            background-color: @colorPrimaryDarken;
          }
        }
      }
    }

    &--next-events {
      grid-row-start: second-line;
      grid-column-start: 2;
    }

    &--next-matches {
      // Hiding the next matches as the championship data is now on Leverade and will never be shown on this website.
      // (It will be on the new one)
      display: none;
      grid-row-start: second-line;
      grid-column-start: 3;
    }

    &--championship-ranking {
      // Hiding the ranking as the championship data is now on Leverade and will never be shown on this website.
      // (It will be on the new one)
      display: none;
      grid-row-start: first-line;
      grid-column-start: 3;

      h2 {
        font-size: 17px;
      }

      iframe {
        margin-bottom: 20px;
      }

      &__table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;

        &__rank {
          width: 20px;
          text-align: right;
        }

        tr:nth-child(odd) {
          background-color: @colorTableAltBackground;
        }

        td {
          padding: .3em;
        }
      }
    }
  }

  &__dates-list {
    list-style-type: none;
    padding-left: 0;

    li {
      line-height: 1.5;
      margin-bottom: 10px;
    }

  }
}
