.homepage {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;

  & > * {
    flex: 1 1;
    margin: 0 10px;
  }
  & > :first-child {
    margin-left: 0;
  }
  & > :last-child {
    margin-right: 0;
  }

  &__news {

    &__last {
      text-align: justify;
      padding-right: 4px;
      line-height: 1.5;
      margin-bottom: 20px;

      h2 {
        text-align: left;
      }

      h5 {
        font-size: 14px;
        border: none;
        line-height: 1;
        font-weight: bold;
      }

      p {
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        float: right;
        padding-left: 10px;
        padding-bottom: 10px;
      }
    }

    &__rest {

    }
  }

  &__championship-ranking {
    padding-left: 5px;
    text-align: left;

    h2 {
      font-size: 17px;
    }
    h3 {
      text-align: center;
      border-left: none;
      border-top: 2px solid #e2001a;
      background: -moz-linear-gradient(#eee 0%, #fff 100%);
      background: -webkit-linear-gradient(#eee 0%, #fff 100%);
      padding-top: 5px;
    }
    iframe {
      margin-bottom: 20px;
    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 15px;

      &__rank {
        width: 20px;
        text-align: right;
      }

      td {
        padding: .3em;
      }
    }
  }

  &__next-events {}

  &__dates-list {
    list-style-type: none;
    padding-left: 0;

    li {
      line-height: 1.5;
      margin-bottom: 10px;
    }

  }
}
