.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-size: 1.1em;

  .homepage-block {
    &__latest-news {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: justify;
      line-height: 1.5;
      font-size: 1.2em;

      h2 {
        text-align: left;
      }

      h5 {
        font-size: 14px;
        border: none;
        line-height: 1;
        font-weight: bold;
      }

      p {
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        float: right;
        padding-left: 10px;
        padding-bottom: 10px;
      }
    }

    &__news-list {
      grid-row-start: 2;
    }

    &__newsletter {
      grid-row-start: 3;
      form {
        text-align: center;

        .inf-content > * {
          display: inline-block;
        }

        .inf-input input {
          font-size: 1.1em;
          border-radius: 5px;
          padding: 5px;
          width: 145px;
        }

        .inf-submit input[type=submit] {
          .button;
          background-color: @colorPrimary;
          font-weight: bold;
          color: white;
          border: none;
          padding: 5px 6px;

          &:active {
            background-color: @colorPrimaryDarken;
          }
        }
      }
    }

    &__next-events {
      grid-row-start: 2;
      grid-column-start: 2;
    }

    &__next-matches {
      grid-row-start: 2;
      grid-column-start: 3;
    }

    &__championship-ranking {
      grid-row-start: 1;
      grid-column-start: 3;

      h2 {
        font-size: 17px;
      }

      iframe {
        margin-bottom: 20px;
      }

      &__table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;

        &__rank {
          width: 20px;
          text-align: right;
        }

        tr:nth-child(odd) {
          background-color: @colorTableAltBackground;
        }

        td {
          padding: .3em;
        }
      }
    }
  }

  &__dates-list {
    list-style-type: none;
    padding-left: 0;

    li {
      line-height: 1.5;
      margin-bottom: 10px;
    }

  }
}
