#main-nav {
  margin-bottom: 30px;

  // TODO: Use something else than h1. These are not titles.
  h1 {
    font-size: 13px;
    margin: 0 0 0 5px;
    cursor: pointer;
    color: @colorGrayVeryDark;

    &:hover, a:hover, &.open, &.open a {
      color: @colorPrimary;
    }

    a {
      color: @colorGrayVeryDark;
    }
  }

  ul {
    margin: 0;
    display: none;
    list-style-type: none;
    padding-left: 3px;
    font-size: 11px;

    li a {
      color: @colorGrayVeryDark;
      display: block;
      padding: 3px;
      margin-bottom: 1px;
      margin-left: 1px;

      &:hover, &.open {
        background-color: white;
        padding: 2px;
        margin-left: 0;
        border: 1px solid @colorPrimary;
        border-right: none;
        position: relative;
        left: 1px;
      }
    }
  }
}