.news_body {
  line-height: 1.5;
  text-align: justify;
}

.newsPrecedentes {
  float: left;
}

.newsSuivantes {
  text-align: right;
}

.lireSuiteArticle {
  text-align: right;
  margin-top: 5px;

  a {
    color: white;
    border: 1px solid;
    background-color: #E2001A;
    padding: 2px 10px 2px 10px;
  }
}

// ADMIN

.tableauInsererNews {
  float: right;
}

.insererNews {
  width: 100%;
}

.optionsNews {
  text-align: left;
}

.listeImagesNews {
  text-align: left;
}