.notification {
  padding: 5px;
  border: 1px solid;

  // Default notification is info message
  color: #996600;
  border-color: #996600;
  background-color: #ffffbb;

  &--error {
    color: #bb0000;
    border-color: #bb0000;
    background-color: #ffdddd;
  }

  &--success {
    color: #006600;
    border-color: #006600;
    background-color: #77ee77;
  }

  a {
    color: black;
  }
}