.notification {
  padding: 5px;
  border: 1px solid;

  // Default notification is info message
  color: @colorInfo;
  border-color: @colorInfo;
  background-color: lighten(@colorInfo, 50%);

  &--error {
    color: @colorError;
    border-color: @colorError;
    background-color: lighten(@colorError, 50%);
  }

  &--success {
    color: @colorSuccess;
    border-color: @colorSuccess;
    background-color: lighten(@colorSuccess, 60%);
  }

  a {
    color: black;
  }
}