.stats-clubs {
  table {
    width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #CC3333;
    border-collapse: collapse;
    text-align: center;

    tr {
      border: 1px solid #cccccc;

      &:nth-child(even) {
        background-color: #ffeeee;
      }
    }

    th {
      border: 2px solid #CC3333;
      padding: 2px;
    }

    &__total-members {
      background-color: #CC3333;
      color: white;
      font-size: 20px;
    }
  }
}