.tableauAgeJunior {
  border-collapse: collapse;
  border: 1px solid @colorGrayVeryDark;
  margin: auto;

  td {
    text-align: center;
    border: 1px solid @colorGrayVeryDark;
    padding: 3px;
  }

  th {
    text-align: center;
    background-color: @colorGrayVeryLight;
    color: @colorGrayVeryDark;
    font-weight: bold;
    border: 1px solid @colorGrayVeryDark;
    padding: 2px;
  }
}