/* FICHIER CSS DU SITE DE SWISS TCHOUKBALL */

/* ADMIN */


table#refereePoints td {
    text-align: center;
}

.noPointsReferees span:after {
    content: ", ";
}

.noPointsReferees span:last-child:after {
    content: "";
}

#refereeDefrayal .nbMatches span:after {
    content: ", ";
}

#refereeDefrayal .nbMatches span:last-child:after {
    content: "";
}

/* !GESTION DE CLUB */

#etatCotisations {
    text-align: center;
}

#calculCotisation table, #etatCotisations table, #ouvrirCotisations table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

#ouvrirCotisations table {
    width: 600px;
}

#calculCotisation table td,
#ouvrirCotisations table td {
    text-align: center;
}

#calculCotisation table td,
#etatCotisations table td,
#ouvrirCotisations table td,
#calculCotisation table th,
#etatCotisations table th,
#ouvrirCotisations table th {
    padding: 5px;
}

#calculCotisation table tr, #etatCotisations table tr, #ouvrirCotisations table tr {
    border-bottom: 1px solid #CC3333;
}

#calculCotisation table tfoot {
    border-top: 2px solid #CC3333;
}

#calculCotisation table tr td:first-child {
    text-align: right;
}

#calculCotisation table tr td[colspan] {
    text-align: center;
}

#membres table.adminTable, #clubs table.adminTable {
    width: 700px;
}

#membres td, #clubs td {
    /* I don't know why there was this rule that was just breaking the layout.
     * I leave it commented for now if I find later why it was there.
     */
    /*width: 200px;*/
}

#membres table.adminTable tr.suspendu {
    background-color: #CCC;
    color: #888;
}

#membres form.members-search input {
    display: inline-block;
    margin-top: 10px;
}

.delete-member {
    position: relative;
}

.delete-member span {
    display: none;
    position: absolute;
    top: 20px;
    width: 200px;
    background-color: white;
    padding: 3px;
    color: #333333;
    border: 1px solid #e2001a;
    border-left-width: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
}

.delete-member:hover span {
    display: block;
}

#etatCotisations table tr.paye {
    background-color: #77ee77;
}

#etatCotisations table tr.nonPaye {
    background-color: #ffdddd;
}

#ouvrirCotisations form {
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

#ouvrirCotisations form label {
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: right;
}

#ouvrirCotisations form input[type=submit] {
    width: 100px;
    display: block;
    margin: auto;
}

#clubs table tr.dimmed {
    opacity: 0.75;
}

textarea.tchoukup-emails {
    width: 50%;
    height: 300px;
}
