/* FICHIER CSS DU SITE DE SWISS TCHOUKBALL */

/* La première balise ne fonctionne pas alors on met n'importe quoi */

.zouplaboum {
}

/* !NEW SKELETON */

#partners {
    text-align: center;
}

#partners a {
    font-size: 12px;
    color: #444;
}

#partners a:hover {
    color: #666;
}

/* !Titles */

/* kicker = sur-titre */
#site > main .kicker {
    margin-bottom: 10px;
    font-size: 17px;
    color: #666;
    font-weight: bold;
}

#site > main #classementChampionnatAccueil h2 {
    font-size: 17px;
}

#site > main #classementChampionnatAccueil h3 {
    text-align: center;
    border-left: none;
    border-top: 2px solid #e2001a;
    background: -moz-linear-gradient(#eeeeee 0%, #ffffff 100%);
    background: -webkit-linear-gradient(#eeeeee 0%, #ffffff 100%);
    padding-top: 5px;
}

#site > main h2 select {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

#site > main #classementChampionnatAccueil .leagueSelector {

}

/* END NEW SKELETON*/

.rssCorps {
    width: 32px;
    height: 32px;
    margin-left: 58px;
}

.socialButtons {
    margin-top: 3px;
}

#laDerniereNews {
    width: 600px;
    float: left;
    text-align: justify;
    padding-right: 4px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.venue h3 {
    text-align: left;
    font-size: 16px;
    color: black;
}

#laDerniereNews h1 {
    text-align: left;
}

#laDerniereNews h5 {
    font-size: 14px;
    border: none;
    line-height: 1;
    font-weight: bold;
}

#laDerniereNews .date {
    font-size: 10px;
    color: #666;
    text-align: left;
    margin-top: 0;
}

#laDerniereNews p {
    margin-bottom: 10px;
}

#laDerniereNews .socialButtons {
    line-height: 1;
}

#laDerniereNews img {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

.TitreTPVideo {
    line-height: normal;
    font-size: 10px;
    margin-top: -5px;
    margin-bottom: 5px;
    text-align: center;
}

#classementChampionnatAccueil {
    width: 200px;
    float: left;
    padding-left: 5px;
    text-align: left;
}

#classementChampionnatAccueil iframe {
    margin-bottom: 20px;
}

.tableauClassementAccueil {
    font-size: 10px;
    width: 200px;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#dernieresNews, #prochainsEvenements, #prochainsMatchs {
    width: 250px;
    float: left;
    padding-right: 5px;
}

#dernieresNews ul, #prochainsEvenements ul, #prochainsMatchs ul {
    list-style-type: none;
    position: relative;
    left: -35px;
    width: 245px;
}

#dernieresNews ul li, #prochainsEvenements ul li, #prochainsMatchs ul li {
    line-height: 1.5;
    font-size: 10px;
    text-indent: -59px;
    padding-left: 59px;
}

.tableauInsererNews {
    float: right;

}

#footer {
    clear: both;
    background-color: #ddd;
    width: 828px;
    border-top: 1px solid #e2001a;
    border-right: 2px solid #e2001a;
    margin-left: 152px;
    position: relative;
    text-align: center;
    font-size: 11px;
    z-index: 11;
}

#footer_admin {
    font-size: 10px;
    text-align: center;
    font-weight: normal;
}

#copyright, #footerLinks, #adminLinks, #socialButtons {
    padding: 7px 0;
}

.googlePlusLink {
    position: relative;
    top: -5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

a {
}

a img {
    border: none;
}

a:link, .asLink {
    color: #CC3333;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #CC3333;
    text-decoration: none;
}

a:hover, .asLink:hover {
    color: #FF9999;
}

a:active, .asLink:active {
    color: #CC3333;
}

p {
    font-size: 13px;
    margin: 1px;
    line-height: 1.5;
    margin-bottom: 10px;
}

fieldset p {
    padding-bottom: 0;
}

label {
    font-size: 13px;
}

sup {
    vertical-align: top;
    font-size: 0.6em;
}

blockquote {
    font-size: 12px;
    line-height: 2;
    padding: 20px;
}

ul {
    margin-top: 0;
}

.error, .info, .success {
    padding: 5px;
    border: 1px solid;
}

.error {
    color: #bb0000;
    border-color: #bb0000;
    background-color: #ffdddd;
}

.error a {
    color: black;
}

.info {
    color: #996600;
    border-color: #996600;
    background-color: #ffffbb;
}

.success {
    color: #006600;
    border-color: #006600;
    background-color: #77ee77;
}

.wrong {
    color: #ff0000;
    font-weight: bold;
}

#site > main .match h1 .host.winner:before,
#site > main .match h1 .visitor.winner:after,
#site > main .sideIcon:before {
    background-repeat: no-repeat;
    background-position: center bottom;
    content: "";
    display: inline-block;
    background-size: 16px;
    width: 16px;
    height: 16px;
    padding: 3px 6px 3px 0;
    fill: #f07f8b;
    vertical-align: -20%;
}

#site > main a.email.sideIcon:before {
    background-image: url('images/email.svg');
}

#site > main a.website.sideIcon:before {
    background-image: url('images/web.svg');
}

#site > main a.facebook.sideIcon:before {
    background-image: url('images/facebook.svg');
}

#site > main a.twitter.sideIcon:before {
    background-image: url('images/twitter.svg');
}

#site > main a.phone.sideIcon:before {
    background-image: url('images/phone.svg');
}

#site > main a.mobile.sideIcon:before {
    background-image: url('images/mobile.svg');
}

.imageFlottanteDroite {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 0;
}

.imageFlottanteGauche {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0;
}

.randomPicture {
    border: 1px solid #e2001a;
    max-width: 130px;
}

.titrefstb {
    font-size: 18px;
    color: #CC3333;
}

.formulaireAligne label {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 3px;
}

/*#contenu h2 {
    width: 770px;
    height: 40px;
    background-image: url('fond_titre_page.png');
    background-repeat: no-repeat;
    margin-top: 7px;
    padding-top: 5px;
    font-size: 14px;
    color: #CC3333;
    font-weight: bold;
    text-align: center;
}

#contenu h3 {
    font-size: 14px;
    color: #CC3333;
    font-weight: bold;
    text-align: center;
}

#contenu h4 {
    font-size: 12px;
    color: #333333;
    font-weight: bold;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: left;
}
#contenu h4 span.precision {
	font-size: 10px;
	font-weight: normal;
}

#contenu h5 {
    font-size: 12px;
    color: #333333;
    padding: 2px;
    font-weight: normal;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0;
    text-align: left;
}*/

.titremenu {
    font-size: 12px;
    color: #CC3333;
}

.titremenuselectionne {
    font-size: 11px;
    color: #CC3333;
}

.titresousmenuselectionne {
    font-size: 11px;
    color: #CC3333;
}

.etiquette {
    float: left;
}

.quicks {
    width: 150px;
    float: right;
}

ul.pagination {
    margin: 5px;
    padding: 0;
    text-align: center;
}

ul.pagination li {
    display: inline-block;
    list-style-type: none;
    padding: 0 3px;
}

select, input, textarea {
    font-size: 10px;
    color: #333333;
    border: 1px solid #E2001A;
}

.button {
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 5px #FF9999;
}

.button--primary {
    background-color: #e2001a;
    font-weight: bold;
    color: white;
    border: none;
}

.button--primary:active {
    background-color: #e0384c;
}

.button--primary[disabled] {
    background-color: #999999;
}

.button--cancel {
    border: 1px solid #999999;
    background-color: transparent;
    color: #999999;
}

.button--cancel:active {
    background-color: #efefef;
}

/*TODO replace the usage of this by button--primary*/
input[type=submit] {
    border-radius: 5px;
    background-color: #e2001a;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

input[type=submit]:active {
    background-color: #e0384c;
}

.paypal-button input {
    border: none;
    margin: 20px 0;
}

.news_body {
    line-height: 1.5;
    text-align: justify;
}

/* !CALENDRIER DEBUT */

#calendrierMois, #calendrierSemaine, #calendrierJour {
    border-collapse: collapse;
    margin-bottom: 20px;
    position: relative;
    left: -20px;
    width: 849px;
}

#blocCalendrierJour {
    height: 400px;
    overflow: scroll;
}

#AgendaAVenir, .listeTableau {
    border-collapse: collapse;
    clear: right;
    margin: auto;
    margin-bottom: 20px;
}

.listeTableau tr.depasse {
    background-color: #fdbfbf;
}

.listeTableau tr.encours {
    background-color: #fdf7bd;
}

.listeTableau tr.avenir {
    background-color: #bdfdc5;
}

#calendrierMois td {
    border: 1px solid #000;
    width: 120px;
    height: 120px;
    padding: 0;
    border-collapse: collapse;
    vertical-align: top;
    font-size: 10px;
}

#calendrierSemaine td {
    border: 1px solid #000;
    width: 765px;
    height: 70px;
    padding: 0;
    border-collapse: collapse;
    vertical-align: top;
}

#calendrierJour td {
    border: 1px solid #000;
    width: 765px;
    height: 30px;
    padding: 0;
    border-collapse: collapse;
    vertical-align: top;
}

#calendrierJour td.jourEntierJour {
    text-align: center;
    height: 16px;
}

#calendrierMois td.caseVide {
    background-color: white;
    border: none;
}

#calendrierMois td.firstDayOfWeek {
    border-left: none;
}

#calendrierMois td.lastDayOfWeek {
    border-right: none;
}

#evenementDetails legend, #telechargementDetails legend {
    font-size: 20px;
    font-weight: bold;
}

#evenementDetails, #telechargementDetails {
    border-style: solid;
    border-width: 3px;
}

.selectionCategorieEvenement {
    text-align: center;
    margin-bottom: 10px;
}

#AgendaAVenir td, .listeTableau td {
    height: 30px;
    padding: 3px;
    font-size: 12px;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#AgendaAVenir td.categorie {
    width: 5px;
}

#AgendaAVenir td.date {
    width: 150px;
}

#AgendaAVenir td.titre {
    width: 365px
}

#AgendaAVenir td.lieu {
    width: 150px
}

#AgendaAVenir td.heure {
    width: 100px;
}

td.modifier {
    text-align: center;
    width: 100px;
}

td.supprimer {
    text-align: center;
    width: 100px;
}

.titreCalendrier {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

#navigationCalendrier {
    text-align: center;
}

a.calendrierPrecedant, a.calendrierSuivant {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
    background-size: 23px;
    background-repeat: no-repeat;
}

a.calendrierPrecedant {
    background-image: url('images/nav_left_arrow.svg');
}

a.calendrierSuivant {
    background-image: url('images/nav_right_arrow.svg');
}

.selectionMoisCalendrier {
    display: inline-block;
    position: relative;
    top: -5px;
}

.calendrierAujourdhui {
    background-color: #ffeeee;
}

.calendrierAujourdhui .jourDuMois {
    color: #e2001a;
}

.calendrierMoisEvenement {
    margin: 0;
    padding: 1px;
}

.calendrierMoisEvenement span {
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}

.calendrierMoisEvenement span a {
    margin: 0;
}

.calendrierSemaineEvenement {
    width: 765px;
    margin: 0;
    padding: 2px;

}

.calendrierJourEvenement {
    width: 765px;
    margin: 0;
    padding: 5px;
}

.evenementJour {
    float: right;
    width: 700px;
}

.selectionCategoriesCalendrier {
    font-size: 10px;
    margin-bottom: 20px;
}

.titreEvenement {
    font-size: 16px;
    font-weight: bold;
}

.categorieEvenement, .categorieTelechargement {
    text-align: right;
    clear: right;
}

.libelleEvenement, .libelleTelechargement {
    text-align: right;
    width: 100px;
}

.donneesEvenement, .donneesTelechargement {
    float: right;
    clear: right;
    width: 600px;
}

.jourDuMois {
    font-size: 12px;
    padding: 2px;
}

.jourDeLaSemaine {
    padding: 2px;
}

.heureDuJour {
    padding: 2px;
    width: 40px;
}

.elementAVenir {
    width: 550px;
    border: 2px solid #E2001A;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 40px;
}

.calendarEvent {
    position: relative;
}

.calendarEvent span.infobulle {
    display: none; /* On masque l'infobulle. */
}

.calendarEvent:hover {
    background: none; /* Correction d'un bug d'Internet Explorer. */
    z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
}

.calendarEvent:hover span.infobulle {
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    width: 200px;

    top: -2px; /* On positionne notre infobulle. */
    left: -2px;

    background: white;

    text-align: left;
    color: #333333;
    padding: 3px;

    border: 1px solid;
    border-left: 4px solid;
}

#abonnementsCalendrier {

}

/* CALENDRIER FIN*/

/* !Tableau Agenda */
.formagenda {
    width: 100%;
    border: none;
    text-align: center;
}

.agenda {
    width: 99%;
    border: none;
    margin: 2px;
    border-collapse: collapse;
}

.agenda tr.alt_highlight {
    background-color: #ffe6e7;
}

.agenda th {
    text-align: center;
    height: 20px;
    font-size: 12px;
    color: #CC3333;
    font-weight: bold;
}

.agenda td {
    font-size: 11px;
    padding: 7px;
}

.agenda a {
    color: black;
}

.agenda a:hover {
    color: #e2001a;
}

.agenda .arbitres {
    padding-left: 15px;
    padding-top: 5px;
    background-image: url('images/whistle.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 0 5px;
}

/*.media {
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: justify;
	font-size: 12px;
	line-height: 1.5;
}*/

.newsPrecedentes {
    float: left;
}

.newsSuivantes {
    text-align: right;
}

.lireSuiteArticle {
    text-align: right;
    margin-top: 5px;
}

.consulterArchivesTchoukUp {
    text-align: center;
}

.lireSuiteArticle a, .consulterArchivesTchoukUp a {
    color: white;
    border: 1px solid;
    background-color: #E2001A;
    padding: 2px 10px 2px 10px;
}

ul.tchoukupList {
    padding-left: 0;
    text-align: justify;
}

ul.tchoukupList:after {
    content: '';
    display: inline-block;
    width: 100%;
}

ul.tchoukupList:before {
    content: '';
    display: block;
}

ul.tchoukupList li {
    display: inline-block;
}

.moisTchoukup {
    text-align: center;
    padding-bottom: 3px;
}

a.LienVersInscriptionNewsletter {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: white;
    border: 1px solid;
    background-color: #E2001A;
    padding: 2px;
    width: 194px;
}

.newsletterForm {
    width: 650px;
    text-align: center;
    font-size: 11px;
}

.newsletterForm .inf-content > * {
    display: inline-block;
}

.newsletterForm .inf-input input {
    font-size: 16px;
    border-radius: 5px;
    padding: 5px
}

.colonneLiens {
    vertical-align: top;
}

.colonneLiens ul {
    list-style-type: none;
    margin-left: -30px;
}

.citationPresseDroite {
    font-size: 12px;
    text-align: right;
}

.citationPresseGauche {
    font-size: 12px;
    text-align: left;
}

.dossierPresse {
    color: #CC3333;
}

q {
    font-size: 12px;
}

cite {
    font-size: 12px;
    color: #999999;
}

q:before {
    content: "« ";
}

q:after {
    content: " »";
}

cite:before {
    content: none;
}

.ficheComite, .ficheCommission {
    width: auto;
    border: none;
    min-height: 170px;
    margin-bottom: 30px;
    /*border-bottom: 1px solid #e2001a;*/
}

.ficheCommission .membresCommission .fonction {
    font-size: 11px;
    color: #666;
}

.ficheComite .contenu, .ficheCommission .contenu {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.fichePersonne {
    min-height: 120px;
    font-size: 13px;
    margin-bottom: 10px;
}

.fichePersonne .nomPersonne {
    font-weight: bold;
}

.imagePortrait {
    float: left;
    position: relative;
    height: 140px;
    margin-right: 10px;
}

.responsabiliteComite, .membresCommission {
    font-size: 12px;
    -webkit-column-break-before: always;
    -moz-column-break-before: always;
    column-break-before: always;
}

.responsabiliteComite ul, .membresCommission ul {
    position: relative;
    left: 20px;
    padding-left: 0;
}

.spokenLanguages {
    margin: 10px 0;
}

.presentationSponsors {
    width: 450px;
    padding: 10px;
    margin: auto;
    font-size: 11px;
}

/* .juniors, .arbitre, .arbitreJunior, .gestionnaireDeClub, .js, .swissOlympic, .introSponsors, .commissionSponsoring, .formuleChampionnat, .cellulesEspoir {
    padding: 10px;
    text-align: justify;
	font-size: 11px;
}*/
.formuleChampionnat {
    text-align: center;
}

.club {
    clear: right;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 14px;
}

.club .contactInformation {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.club .logoClub {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-top: -28px;
}

.tableauAgeJunior {
    border-collapse: collapse;
    border: 1px solid #666;
    margin: auto;
}

.tableauAgeJunior td {
    text-align: center;
    border: 1px solid #666;
    padding: 3px;
}

.tableauAgeJunior th {
    text-align: center;
    background-color: #EEEEEE;
    color: #333333;
    font-weight: bold;
    border: 1px solid #666666;
    padding: 2px;
}

.tableauCHTB {
    font-size: 11px;
    margin: auto;
}

.tableauCHTB td {
    text-align: center;
    margin: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

.tableauCHTB h3 {
    margin-bottom: 1px;
}

.form {
    font-size: 11px;
}

.yt-channel-list div {
    margin-right: 20px;
}

.last-yt-video {
    position: relative;
    left: -20px;
    width: 849px;
    margin-bottom: 20px;
    height: 478px;
}

.videos {
    border: 2px outset #666666;
    border-collapse: collapse;
    font-size: 11px;
    width: 750px;
    margin: auto;
}

.videos td {
    text-align: center;
    border: 1px solid #666666;
}

.videos th {
    text-align: center;
    background-color: #EEEEEE;
    color: #333333;
    font-weight: bold;
    border: 1px solid #666666;
    padding: 2px;
}

/*.banniereYouTubeTP{
	padding-left: 9px;
}
.banniereYouTubeTP img{
	margin: 0;
}
.banniereYouTubeTP a{
	margin: 0;
}*/

.tailleFichierVideo {
    float: right;
    text-align: right;
}

.organismesPartenaires {
    width: 300px;
    margin: auto;
}

.logoSponsorsMenu {
    /*border: 1px #E2001A solid;
    background-color: white;*/
    width: 130px;
    margin: auto;
    margin-bottom: 10px;
}

.download {
    width: 500px;
    border: 2px outset #666666;
    margin: auto;
    border-collapse: collapse;
}

.download th {
    text-align: center;
    height: 20px;
    font-size: 12px;
    color: #CC3333;
    font-weight: bold;
    border: 1px #666666 solid;
}

.download td {
    font-size: 11px;
    border: 1px #666666 solid;
}

.listeTypeDownload {
    text-align: center;
}

.listeTypeDownload li {
    display: inline;
}

.listeTypeDownload li:before {
    content: " - ";
}

.listeTypeDownload li:first-child:before {
    content: "";
}

/* !CHAMPIONNAT */

/*.classement h3, .resultats h3, #coupesuisse h3 {
	background:-moz-linear-gradient(#eeeeee 0%, #ffffff 100%);
	background:-webkit-linear-gradient(#eeeeee 0%, #ffffff 100%);
	padding-top: 10px;
	border-top: 2px solid #e2001a;
	font-size: 20px;
	color: #e2001a;
}

.classement h4, .resultats h4 {
	background: none;
	border: none;
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
}

.classement h5, .resultats h5 {
	margin-top: 0;
	margin-bottom: 5px;
}*/

.listeLigues {
    padding-left: 0;
    text-align: center;
}

.listeLigues li {
    display: inline-block;
    list-style-type: none;
    margin-left: 2px;
}

.listeLigues li:after {
    content: " -";
}

.listeLigues li:last-child:after {
    content: "";
}

.resultatsTour, .resultatsTourFinal, .tableauModifierClassement, .tableauModifierPhase, .tableauModifierMatch, .tableauSupprimerPhase, .tableauStatistiquesGlobales, .tableauUploads, .tableauMatchsModifierMatchCoupeCH {
    width: 450px;
    border: none;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.classementTour, .classementPlayoff {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.classementTourFinal, .tableauEditionsModifierMatchCoupeCH {
    width: 250px;
    border: none;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.resultatsTour caption, .resultatsTourFinal caption, .classementTour caption, .classementTourFinal caption, .classementPlayoff caption, .tableauStatistiquesGlobales caption {
    font-size: 14px;
    color: #CC3333;
    font-weight: bold;
    line-height: 30px;
}

.resultatsTour tr.journeePair {
    background-color: #ffe6e7;
}

.classementTour th, .classementTourFinal th, .resultatsTour th, .resultatsTourFinal th, .classementPlayoff th {
    text-align: center;
    height: 20px;
    font-size: 12px;
    color: #CC3333;
    font-weight: bold;
    border-bottom: 1px solid #f07f8b;
}

.resultatsTour td, .resultatsTourFinal td, .classementTour td, .classementTourFinal td {
    font-size: 11px;
    text-align: center;
    border-bottom: 1px solid #f07f8b;
}

.categorieProgrammeChampionnat {
    font-size: 9px;
    color: #999;
    line-height: 1;
}

#site > main .match p {
    font-size: 16px;
}

#site > main .match h1 {
    text-align: center;
    border-left: 0;
    padding-left: 0;
    width: auto;
    height: auto;
    background: none;
}

#site > main .match span {
    display: inline-block;
}

#site > main .match h1 .host {
    width: 340px;
    text-align: right;
}

#site > main .match h1 .visitor {
    width: 340px;
    text-align: left;
}

#site > main .match h1 .winner {
    font-size: inherit;
}

#site > main .match h1 .loser {
    font-size: inherit;
}

#site > main .match h1 .score {
    color: #e2001a;
    width: 129px;
}

#site > main .match h1 .score.unplayed {
    color: #999;
}

#site > main .match h1 .host.winner:before, #site > main .match h1 .visitor.winner:after {
    background-image: url('images/check_inversed.svg');
    vertical-align: 8%;
}

#site > main .match .sideIcon:before {
    vertical-align: -8%;
}

#site > main .match .date.sideIcon:before {
    background-image: url('images/datetime.svg');
}

#site > main .match .venue.sideIcon:before {
    background-image: url('images/venue.svg');
}

#site > main .match .price.sideIcon:before {
    background-image: url('images/ticket.svg');
}

#site > main .match .referees.sideIcon:before {
    background-image: url('images/whistle.svg');
}

#site > main .match .attendance.sideIcon:before {
    background-image: url('images/people.svg');
}

#site > main .match .detailedScore {
    text-align: center;
    font-size: 18px;
    color: #999;
}

#site > main .match .detailedScore .period:after {
    content: "\00a0|\00a0";
}

#site > main .match .detailedScore .period:last-child:after {
    content: none;
}

#site > main .match .penalties {
    font-size: 12px;
    text-align: center;
}

#site > main .match .penalties h4 {
    border: none;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    color: #999999;
    cursor: pointer;
}

#site > main .match .penalties #detailedPenalties {
    display: none;
}

#site > main .match .classification {
    text-align: center;
    margin-bottom: 15px;
}

#site > main .match .photos {
    margin-bottom: 15px;
}

#site > main .match .photosArray {
    text-align: center;
}

/* !Lieu */
/* Aussi voir les titres avec #laDerniereNews*/

.venue .matches ul {
    line-height: 1.5;
}

/* !Contact */

#pageContact .typeContact {
    width: 380px;
    float: left;
    text-align: right;
}

#pageContact .contenuContact {
    width: 400px;
    margin-left: 385px;
    margin-bottom: 5px;
}

/* /Contact */

/* !COUPE SUISSE */

.banniereSiteCoupeSuisse {
    float: left;
}

.banniereSiteCoupeSuisse a {
    margin: 0;
}

#coupesuisse .descriptionJournee {
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-left: 5px solid #e2001a;
}

.resultatsCoupeCH, .arbreCoupeHuitiemes { /* .resultatsCoupeCH utilisé pour d'anciennes pages de la Coupe Suisse. À conserver */
    width: 100%;
    height: 680px;
    background-image: url('images/fond-tableau-coupe-suisse.png');
    background-position: 0 -64px;
    /*border: black solid 1px;*/
}

.resultatsMatchsClassement, .resultatsCoupeTschatchli { /* utilisé pour d'anciennes pages de la Coupe Suisse. À conserver */
    width: 100%;
    height: 680px;
    /*background-image: url('images/fond-tableau-coupe-tschatchli.png');*/
    clear: left;
}

.arbreCoupeQuarts {
    width: 100%;
    height: 370px;
    background-image: url('images/fond-tableau-coupe-suisse-quarts.png');
    clear: left;
}

.arbreCoupeDemis {
    width: 100%;
    height: 240px;
    background-image: url('images/fond-tableau-coupe-suisse-demis.png');
    clear: left;
}

.selectionResultatsCoupeCH {
}

.gagnant {
    font-weight: bold;
    color: #E2001A;
}

.perdant {
    color: #999999;
    font-weight: normal;
}

.ajouer {
    font-weight: bold;
    color: black;
}

.sansequipe:before {
    content: "-";
    color: #999999;
    font-weight: normal;
}

.informationsMatch {
    position: fixed;
    margin-left: 380px;
    display: none;
    width: 400px;
    background-color: white;
    border: 2px solid #e2001a;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.informationsBoxJournee {
    text-align: left;
    float: left;
}

.informationsBoxTypeMatch {
    text-align: right;
}

.informationsBoxEquipes {
    font-weight: bold;
    font-size: 14px;
}

.informationsBoxScore {
    font-weight: bold;
}

.informationsBoxSet {
}

.informationsBoxLieu {
    margin-top: 5px;
    text-align: right;
}

.informationsBoxDate {
    margin-top: 5px;
    text-align: left;
    float: left;
}

.boxTour1, .boxTour2, .boxTour3, .boxTour4, .colonneHuitiemes, .colonneQuarts, .colonneDemis, .colonneFinales {
    width: 130px;
    padding: 5px;
}

.boxTour1, .colonneHuitiemes {
    float: left;
}

.boxTour2, .colonneQuarts {
    float: left;
    margin-left: 30px;
}

.boxTour3, .colonneDemis {
    float: left;
    margin-left: 30px;
}

.boxTour4, .colonneFinales {
    float: left;
    margin-left: 30px;
}

.boxTour5 { /* ??? P-e une édition précédente utilisait ça ? */
    width: 120px;
    padding: 5px;
    margin-left: 30px;
}

.arbreCoupeQuarts .colonneQuarts {
    padding-left: 145px;
}

.arbreCoupeDemis .colonneDemis {
    padding-left: 315px;
}

.boxEquipe1A, .boxEquipe1B, .boxEquipe2A, .boxEquipe2B, .boxEquipe3A, .boxEquipe3B, .boxEquipe4A, .boxEquipe4B, .boxEquipe5A, .boxEquipe5B {
    border: 1px black solid;
    width: 140px;
    height: 16px;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: white;
}

.boxEquipe1A {
    margin-top: 8px;
    margin-bottom: 2px;
}

.boxEquipe1B {
    margin-top: 2px;
    /* margin-bottom: 8px; */
}

.boxEquipe2A {
    margin-top: 40px;
    margin-bottom: 2px;
}

.boxEquipe2B {
    margin-top: 2px;
    margin-bottom: 74px;
}

.boxEquipe3A {
    margin-top: 107px;
    margin-bottom: 2px;
}

.boxEquipe3B {
    margin-top: 2px;
    margin-bottom: 206px;
}

.boxEquipe4A {
    margin-top: 240px;
    margin-bottom: 2px;
}

.boxEquipe4B {
    margin-top: 2px;
    /* margin-bottom: 470px; remettre pour la version php*/
}

.boxEquipe5A {
    margin-top: 504px;
    margin-bottom: 2px;
}

.boxEquipe5B {
    margin-top: 2px;
}

.colonneFinales .boxEquipe1B, .colonneFinales .boxEquipe2B, .colonneFinales .boxEquipe3B, .colonneFinales .boxEquipe4B {
    margin-bottom: 0;
}

/* Admin Coupe Suisse */
.insererEditionCoupeCH label {
    float: left;
    width: 370px;
    text-align: right;
}

.insererEditionCoupeCH input, .insererEditionCoupeCH select, .insererEditionCoupeCH textarea, .insererEditionCoupeCH .traceFormulaire {
    display: block;
    margin-left: 375px;
    margin-bottom: 10px;
}

.insererEditionCoupeCH .traceFormulaire {
    line-height: 1;
}

/* FIN Coupe CH */

.liste-joueur-es {
    width: 850px;
    position: relative;
    left: -20px;
    border: none;
    margin: auto;
}

.joueur-es {
    margin-bottom: 10px;
}

.joueur-es > * {
    vertical-align: top;
}

.equipe-es {
}

.photo-joueur-es {
    width: 425px;
    overflow: hidden;
    display: inline-block;
}

.infos-joueur-es {
    padding: 10px;
    display: inline-block;
}

.nom-joueur-es {
    font-size: 27px;
    font-weight: bold;
}

.numero-joueur-es {
    color: #e2001a;
    font-weight: bold;
    font-size: 20px;
}

.acceder-bdd-fitb-es {
    text-align: center;
    margin-top: 30px;
}

.photo-equipe-es {
    text-align: center;
}

.photo-equipe-es img {
    margin-bottom: 30px;
    position: relative;
    left: -20px;
}

.legende-photo-equipe-es {
    /*text-align: center;
    position: relative;
    width: 650px;
    background-image: url('../../pictures/equipesSuisses/fond_infos_joueur-es.png');
    border: 1px solid #e2001a;
    height: 42px;
    bottom: 44px;
    color: black;	*/
}

.referee-list {
    width: 450px;
    margin: auto;
}

.referee {
    font-size: 14px;
    border-bottom: 1px solid #f07f8b;
    padding: 10px 0;
}

.tableauInternational {
    border: none;
    margin: auto;
    border-collapse: collapse;
}

.tableauInternational th {
    text-align: center;
    height: 20px;
    font-size: 12px;
    color: #CC3333;
    font-weight: bold;
    border-bottom: 1px solid #f07f8b;
    padding: 2px;
}

.tableauInternational td {
    font-size: 11px;
    border-bottom: 1px solid #f07f8b;
}

.tableauProgrammeEWC, .tableauProgrammeWG {
    margin: auto;
    border-collapse: collapse;
    font-size: 12px;
    background-position: center center;
    background-repeat: no-repeat;
}

.tableauProgrammeEWC td, .tableauProgrammeWG td {
    height: 25px;
    border-collapse: collapse;
}

.tableauProgrammeEWC tr, .tableauProgrammeWG td {
    border-bottom: #f07f8b 1px solid;
    border-top: #f07f8b 1px solid;
}

.tableauProgrammeEWC th, .tableauProgrammeWG th {
    border-bottom: #f07f8b 1px solid;
    text-align: center;
}

.tableauProgrammeEWC {
    width: 500px;
}

.tableauProgrammeWG {
    width: 550px;
}

.competitionIcon {
    border: 1px solid #f07f8b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 18px;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    background: -webkit-linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background: -moz-linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background: -o-linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background: linear-gradient(#d51f1f 0%, #ff9d9d 100%);
}

.EWCScoresLink {
    text-align: center;
}

.EWCScoresLink a {
    border: 2px solid #f07f8b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 2px 5px 2px 30px;
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, -webkit-linear-gradient(#ff9d9d 0%, #d51f1f 100%);
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, -moz-linear-gradient(#ff9d9d 0%, #d51f1f 100%);
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, -o-linear-gradient(#ff9d9d 0%, #d51f1f 100%);
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, linear-gradient(#ff9d9d 0%, #d51f1f 100%);
    background-size: contain;
}

.EWCScoresLink a:hover {
    box-shadow: 0 0 3px #f07f8b;
}

.EWCScoresLink a:active {
    box-shadow: 0 0 6px #f07f8b;
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, -webkit-linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, -moz-linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, -o-linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background: url('http://tchoukball.ch/pictures/logoTBW.png') left center no-repeat, linear-gradient(#d51f1f 0%, #ff9d9d 100%);
    background-size: contain;
}

ul.EWCMatchesTypesKey {
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
    columns: 3 100px;
}

.EWCMatchesTypesKey li {
    list-style: none;
}

.moisStatistique {
    text-align: center;
    font-size: 12px;
    height: 20px;
    color: #EEEEEE;
    font-weight: bold;
    border: 1px #666666 solid;
    background-color: #CC3333;
}

.noborder {
    border: none;
}

.ccpFSTB {
    width: 130px;
    border: 5px solid black;
    background-color: #ffcc00;
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 25px;
    margin-left: 285px;
}

#adminPopUp {
    position: fixed;
    top: 0;
    right: 0;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #e2001a;
    border-left: 1px solid #e2001a;
    background-color: white;
}

#twitter_div {
    font-size: 12px;
}

#twitter_update_list {
    list-style-type: none;
}

#twitter_update_list li {
    margin-bottom: 8px;
    padding-bottom: 7px;
    padding-right: 5px;
    border-bottom: 1px solid #ccc;
}

#twitter_update_list li:before {
    content: ""; /* texte affiché avant chaque tweet */
}

#twitter_update_list li a {
    display: none;
}

#twitter_update_list li span a {
    display: inline;
}

.fb_iframe_widget {
    position: relative;
    top: -3px;
}

.twitter-share-button, .twitter-follow-button {
}

/* !ADMINISTRATION */

.pageMesInfos, .modifierMesInfos {
    width: 800px;
    margin: auto;
    padding: 10px;
}

.insererAnnuaire, .insererContact {
    text-align: center;
    margin: auto
}

.formActions {
    text-align: center;
}

.formulaireAnnuaire fieldset {
    padding: 5px;
    margin: 5px;
}

.formulaireAnnuaire label {
    float: left;
    text-align: right;
    width: 210px;
}

.formulaireAnnuaire input,
.formulaireAnnuaire textarea,
.formulaireAnnuaire select {
    display: block;
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* !Formulaires administration */

.adminForm fieldset {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: 30px;
    border: none;
}

.adminForm span.infobulle {
    display: none; /* On masque l'infobulle. */
}

.adminForm div.inlineinfo {
    margin-left: 110px;
    margin-bottom: 10px;
}

.adminForm fieldset:hover {
    background: none; /* Correction d'un bug d'Internet Explorer. */
    z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
}

.adminForm fieldset /*:hover*/ span.infobulle { /* décommenter le hover si on veut que les infobulles ne s'affichent que si on survole la zone concernée. */
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    width: 100px;

    top: 0; /* On positionne notre infobulle. */
    right: 20px;

    background: white;

    text-align: left;
    color: #333333;
    padding: 3px;

    border: 1px solid #e2001a;
    border-left: 4px solid #e2001a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.adminForm span#addressPreview,
.adminForm span#infoPreview {
    position: absolute;
    width: 180px;
    top: 0;
    left: 0;
    padding: 3px;
    color: #333333;
    border: 1px solid #e2001a;
    border-left-width: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.adminForm legend {
    font-size: 20px;
    font-weight: bold;
    color: #CC3333;
}

.adminForm input,
.adminForm select,
.adminForm textarea,
.adminForm .givenData,
.adminForm h4 {
    display: block;
    width: 400px;
    margin-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.adminForm .tags {
    margin-bottom: 10px;
    width: 400px;
}

.adminForm .tags input {
    width: 20px;
}

.adminForm .tags input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.adminForm table {
    border-collapse: collapse;
    width: 400px;
    margin-bottom: 10px;
}

.adminForm table td {
    border: 1px solid #cccccc;
    padding: 5px;
}

.adminForm table td.notCell {
    border: none;
}

.adminForm table td.amountTotal {
    font-weight: bold;
}

.adminForm input,
.adminForm select,
.adminForm textarea {
    border-color: #CCCCCC;
    -webkit-font-smoothing: antialiased;
    padding: 8px;
    margin-top: 0;
}

.adminForm .tags {
    border-color: #cccccc;
}

.adminForm input:focus, .adminForm select:focus, .adminForm textarea:focus {
    border-color: #FF9999;
    outline: none;
    -webkit-box-shadow: 0 0 5px #FF9999;
    -moz-box-shadow: 0 0 5px #FF9999;
    box-shadow: 0 0 5px #FF9999;
}

.adminForm input[type=text],
.adminForm textarea,
.adminForm .tags {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.adminForm input.ng-invalid.ng-touched,
.adminForm textarea.ng-invalid.ng-touched,
.adminForm tags-input.ng-invalid.ng-touched .tags {
    background-color: #FF9999;
    box-shadow: none;
}

.adminForm input[type=submit] {
    width: auto;
    margin: auto;
    margin-top: 20px;
}

.adminForm input[type=checkbox] {
    margin-left: 260px;
    height: 30px;
}

.adminForm input[readonly],
.adminForm textarea[readonly] {
    background-color: #eeeeee;
    color: #777777;
}

.adminForm select {
    height: 35px;
}

.adminForm label {
    float: left;
    display: block;
    font-size: 14px;
    width: 250px;
    height: 20px;
    color: #666;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    -webkit-font-smoothing: antialiased;
}

.adminForm form h4 {
    font-size: 14px;
    margin-top: 15px;
    color: #CC3333;
    padding: 2px;
    border: none;
    background: none;
    font-weight: normal;
}

.adminForm .birthDate {
    margin-left: 90px;
}

.adminForm .birthDate select {
    width: auto;
    display: inline;
}

.adminForm .birthDate span {
    padding-left: 5px;
}

.adminForm .givenData {
    padding-top: 10px;
    width: auto;
}

/* Fin formulaires administration */

/* !Tableaux administration */

table.adminTable td.action {
    text-align: center;
}

table.adminTable tr {
    border-bottom: 1px solid #CC3333;
}

table.adminTable {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table.adminTable.detailed {
    font-size: 12px;
}

table.adminTable th {
    padding: 2px 5px;
}

table.adminTable td {
    padding: 2px 5px;
}

table.adminTable td.action {
    width: 40px;
}

table.adminTable td.gender,
table.adminTable td.canton {
    width: 20px;
}

table.adminTable td.notOK {
    background-color: #CC3333;
    color: white;
}

table.alternateBackground tr:nth-child(even) {
    background-color: #ffeeee;
}

tr.clickable-row {
    cursor: pointer;
}

tr.clickable-row:hover td {
    background-color: #ffcccc;
}

/* Fin tableaux administration */

.insererNews {
    width: 100%;
}

.optionsNews {
    text-align: left;
}

.listeImagesNews {
    text-align: left;
}

/*.afficherAnnuaire, .importerAnnuaire, .insererAgenda, .modifierAgenda, .supprimerAgenda, .agendaOutlook, .modifierNews, .supprimerNews, .optionPremiereNews, .insererMatch, .modifierMatch, .supprimerMatch, .modifierClassement, .nouvellePhase, .modifierPhase, .supprimerPhase, .classement, .resultats, .statistiquesGlobales, .statistiqueLoginSurf, .statistiqueLoginAdmin, .traductionCorps, .traductionDivers {
	text-align: center;
	padding: 10px;
	font-size: 11px;
}*/

.mesInfos {
    width: 350px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.tableauCarnet, .tableauAnnuaire, .tableauModifierAgenda, .tableauSupprimerAgenda, .tableauModifierNews, .tableauSupprimerNews, .tableauSupprimerMatch {
    border: 2px #666666 outset;
    width: 100%;
    border-collapse: collapse;
}

.tableauStatistiquePersonne, .tableauNouvellePhase {
    width: 600px;
    border: 2px #666666 outset;
    margin: auto;
    border-collapse: collapse;
}

.tableauCarnet th, .tableauAnnuaire th, .tableauModifierAgenda th, .tableauSupprimerAgenda th, .tableauModifierNews th, .tableauSupprimerNews th, .tableauModifierMatch th, .tableauSupprimerMatch th, .tableauModifierClassement th, .tableauNouvellePhase th, .tableauModifierPhase th, .tableauSupprimerPhase th, .tableauStatistiquesGlobales th, .tableauStatistiquePersonne th, .tableauUploads th, .tableauEditionsModifierMatchCoupeCH th, .tableauMatchsModifierMatchCoupeCH th {
    text-align: center;
    font-size: 12px;
    height: 20px;
    color: #CC3333;
    font-weight: bold;
    border: 1px #666666 solid;
    background-color: #EEEEEE;
}

.tableauCarnet td, .tableauAnnuaire td {
    text-align: left;
    border: 1px #666666 solid;
    font-size: 11px;
}

.tableauModifierAgenda td, .tableauSupprimerAgenda td, .tableauModifierNews td, .tableauSupprimerNews td, .tableauSupprimerMatch td, .tableauModifierClassement td, .tableauNouvellePhase td, .tableauSupprimerPhase td, .tableauStatistiquesGlobales td, .tableauStatistiquePersonne td, .tableauUploads td, .tableauEditionsModifierMatchCoupeCH td, .tableauMatchsModifierMatchCoupeCH td {
    text-align: center;
    border: 1px #666666 solid;
    font-size: 11px;
}

.tableauModifierMatch td, .tableauModifierPhase td {
    text-align: center;
    border-top: 1px #666666 solid;
    border-bottom: 1px #666666 solid;
    font-size: 11px;
}

.tableauTourChampionnat {
    width: 80%;
    border: none;
    margin: auto;
}

.tableauTourChampionnat th {
    text-align: center;
    font-size: 12px;
    height: 20px;
    color: #CC3333;
    font-weight: bold;
}

.tableauTourChampionnat td {
    border: none;
    font-size: 11px;
}

.tableauFormInsererPhase, .tableauFormInsererMatch {
    border: none;
    font-size: 11px;
    margin: auto;
    border-collapse: collapse;
}

.tableauFormInsererMatch td, .tableauFormInsererMatch th {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tableauLieuDateChampionnat {
    width: 400px;
}

.tableauLieuDateChampionnat td {
    border: none;
    padding-top: 1px;
    padding-bottom: 1px;
}

#periodAdder span {
    cursor: pointer;
}

/* STATISTIQUES CLUBS */

#statsClubs {

}

#statsClubs table {
    width: 500px;
}

#statsClubs table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #CC3333;
    border-collapse: collapse;
    text-align: center;
}

#statsClubs table th {
    border: 2px solid #CC3333;
    padding: 2px;
}

#statsClubs table tr {
    border: 1px solid #cccccc;
}

#statsClubs table tr:nth-child(even) {
    background-color: #ffeeee;
}

#statsClubs #totalMembresFSTB {
    background-color: #CC3333;
    color: white;
    font-size: 20px;
}

table#refereePoints td {
    text-align: center;
}

.noPointsReferees span:after {
    content: ", ";
}

.noPointsReferees span:last-child:after {
    content: "";
}

#refereeDefrayal .nbMatches span:after {
    content: ", ";
}

#refereeDefrayal .nbMatches span:last-child:after {
    content: "";
}

/* !ANNUAIRE FSTB IMPORTER / SUPPRIMER */

.options p {
    font-size: 9px;
    margin: 1px;
}

.row {
    color: #CC3333;
    font-size: 9px;
    border-bottom: 1px solid #CC3333;
}

.row_club {
    width: 110px;
    font-size: 9px;
    border-bottom: 1px solid #CC3333;
}

.row_adresse {
    width: 200px;
    font-size: 9px;
    border-bottom: 1px solid #CC3333;
}

.row_sep {
    font-size: 9px;
    color: #CC3333;
}

/* !GESTION DE CLUB */

#etatCotisations {
    text-align: center;
}

#calculCotisation table, #etatCotisations table, #ouvrirCotisations table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

#ouvrirCotisations table {
    width: 600px;
}

#calculCotisation table td,
#ouvrirCotisations table td {
    text-align: center;
}

#calculCotisation table td,
#etatCotisations table td,
#ouvrirCotisations table td,
#calculCotisation table th,
#etatCotisations table th,
#ouvrirCotisations table th {
    padding: 5px;
}

#calculCotisation table tr, #etatCotisations table tr, #ouvrirCotisations table tr {
    border-bottom: 1px solid #CC3333;
}

#calculCotisation table tfoot {
    border-top: 2px solid #CC3333;
}

#calculCotisation table tr td:first-child {
    text-align: right;
}

#calculCotisation table tr td[colspan] {
    text-align: center;
}

#membres table.adminTable, #clubs table.adminTable {
    width: 700px;
}

#membres td, #clubs td {
    /* I don't know why there was this rule that was just breaking the layout.
     * I leave it commented for now if I find later why it was there.
     */
    /*width: 200px;*/
}

#membres table.adminTable tr.suspendu {
    background-color: #CCC;
    color: #888;
}

#membres form.members-search input {
    display: inline-block;
    margin-top: 10px;
}

.delete-member {
    position: relative;
}

.delete-member span {
    display: none;
    position: absolute;
    top: 20px;
    width: 200px;
    background-color: white;
    padding: 3px;
    color: #333333;
    border: 1px solid #e2001a;
    border-left-width: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
}

.delete-member:hover span {
    display: block;
}

#etatCotisations table tr.paye {
    background-color: #77ee77;
}

#etatCotisations table tr.nonPaye {
    background-color: #ffdddd;
}

#ouvrirCotisations form {
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

#ouvrirCotisations form label {
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: right;
}

#ouvrirCotisations form input[type=submit] {
    width: 100px;
    display: block;
    margin: auto;
}

#clubs table tr.dimmed {
    opacity: 0.75;
}

#cahierDesCharges {
    /*
        width: 600px;
        margin: auto;
    */
}

#cahierDesCharges > ul {
    list-style-type: none;
    padding-left: 0;
}

#cahierDesCharges > ul li {
    line-height: 1.5;
    font-size: 15px;
}

textarea.tchoukup-emails {
    width: 50%;
    height: 300px;
}

/* !@media */

@media only screen and (max-device-width: 1300px) {
    /* Small screen */

}

@media only screen and (min-width: 1300px) {

    /* Large screen, non-retina */

}
