/* FICHIER CSS DU SITE DE SWISS TCHOUKBALL */

/* !ADMINISTRATION */

.pageMesInfos, .modifierMesInfos {
    width: 800px;
    margin: auto;
    padding: 10px;
}

.insererContact {
    text-align: center;
    margin: auto
}

.formActions {
    text-align: center;
}

/* ADMIN */

.mesInfos {
    width: 350px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.tableauCarnet, .tableauAnnuaire, .tableauModifierAgenda, .tableauSupprimerAgenda, .tableauModifierNews, .tableauSupprimerNews, .tableauSupprimerMatch {
    border: 2px #666666 outset;
    width: 100%;
    border-collapse: collapse;
}

.tableauNouvellePhase {
    width: 600px;
    border: 2px #666666 outset;
    margin: auto;
    border-collapse: collapse;
}

.tableauCarnet th, .tableauAnnuaire th, .tableauModifierAgenda th, .tableauSupprimerAgenda th, .tableauModifierNews th, .tableauSupprimerNews th, .tableauModifierMatch th, .tableauSupprimerMatch th, .tableauModifierClassement th, .tableauNouvellePhase th, .tableauModifierPhase th, .tableauSupprimerPhase th, .tableauUploads th, .tableauEditionsModifierMatchCoupeCH th, .tableauMatchsModifierMatchCoupeCH th {
    text-align: center;
    font-size: 12px;
    height: 20px;
    color: #CC3333;
    font-weight: bold;
    border: 1px #666666 solid;
    background-color: #EEEEEE;
}

.tableauCarnet td, .tableauAnnuaire td {
    text-align: left;
    border: 1px #666666 solid;
    font-size: 11px;
}

.tableauModifierAgenda td, .tableauSupprimerAgenda td, .tableauModifierNews td, .tableauSupprimerNews td, .tableauSupprimerMatch td, .tableauModifierClassement td, .tableauNouvellePhase td, .tableauSupprimerPhase td, .tableauStatistiquesGlobales td, .tableauStatistiquePersonne td, .tableauUploads td, .tableauEditionsModifierMatchCoupeCH td, .tableauMatchsModifierMatchCoupeCH td {
    text-align: center;
    border: 1px #666666 solid;
    font-size: 11px;
}

.tableauModifierMatch td, .tableauModifierPhase td {
    text-align: center;
    border-top: 1px #666666 solid;
    border-bottom: 1px #666666 solid;
    font-size: 11px;
}

.tableauTourChampionnat {
    width: 80%;
    border: none;
    margin: auto;
}

.tableauTourChampionnat th {
    text-align: center;
    font-size: 12px;
    height: 20px;
    color: #CC3333;
    font-weight: bold;
}

.tableauTourChampionnat td {
    border: none;
    font-size: 11px;
}

.tableauFormInsererPhase, .tableauFormInsererMatch {
    border: none;
    font-size: 11px;
    margin: auto;
    border-collapse: collapse;
}

.tableauFormInsererMatch td, .tableauFormInsererMatch th {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tableauLieuDateChampionnat {
    width: 400px;
}

.tableauLieuDateChampionnat td {
    border: none;
    padding-top: 1px;
    padding-bottom: 1px;
}

#periodAdder span {
    cursor: pointer;
}

/* STATISTIQUES CLUBS */

#statsClubs {

}

#statsClubs table {
    width: 500px;
}

#statsClubs table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #CC3333;
    border-collapse: collapse;
    text-align: center;
}

#statsClubs table th {
    border: 2px solid #CC3333;
    padding: 2px;
}

#statsClubs table tr {
    border: 1px solid #cccccc;
}

#statsClubs table tr:nth-child(even) {
    background-color: #ffeeee;
}

#statsClubs #totalMembresFSTB {
    background-color: #CC3333;
    color: white;
    font-size: 20px;
}

table#refereePoints td {
    text-align: center;
}

.noPointsReferees span:after {
    content: ", ";
}

.noPointsReferees span:last-child:after {
    content: "";
}

#refereeDefrayal .nbMatches span:after {
    content: ", ";
}

#refereeDefrayal .nbMatches span:last-child:after {
    content: "";
}

/* !GESTION DE CLUB */

#etatCotisations {
    text-align: center;
}

#calculCotisation table, #etatCotisations table, #ouvrirCotisations table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

#ouvrirCotisations table {
    width: 600px;
}

#calculCotisation table td,
#ouvrirCotisations table td {
    text-align: center;
}

#calculCotisation table td,
#etatCotisations table td,
#ouvrirCotisations table td,
#calculCotisation table th,
#etatCotisations table th,
#ouvrirCotisations table th {
    padding: 5px;
}

#calculCotisation table tr, #etatCotisations table tr, #ouvrirCotisations table tr {
    border-bottom: 1px solid #CC3333;
}

#calculCotisation table tfoot {
    border-top: 2px solid #CC3333;
}

#calculCotisation table tr td:first-child {
    text-align: right;
}

#calculCotisation table tr td[colspan] {
    text-align: center;
}

#membres table.adminTable, #clubs table.adminTable {
    width: 700px;
}

#membres td, #clubs td {
    /* I don't know why there was this rule that was just breaking the layout.
     * I leave it commented for now if I find later why it was there.
     */
    /*width: 200px;*/
}

#membres table.adminTable tr.suspendu {
    background-color: #CCC;
    color: #888;
}

#membres form.members-search input {
    display: inline-block;
    margin-top: 10px;
}

.delete-member {
    position: relative;
}

.delete-member span {
    display: none;
    position: absolute;
    top: 20px;
    width: 200px;
    background-color: white;
    padding: 3px;
    color: #333333;
    border: 1px solid #e2001a;
    border-left-width: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
}

.delete-member:hover span {
    display: block;
}

#etatCotisations table tr.paye {
    background-color: #77ee77;
}

#etatCotisations table tr.nonPaye {
    background-color: #ffdddd;
}

#ouvrirCotisations form {
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

#ouvrirCotisations form label {
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: right;
}

#ouvrirCotisations form input[type=submit] {
    width: 100px;
    display: block;
    margin: auto;
}

#clubs table tr.dimmed {
    opacity: 0.75;
}

#cahierDesCharges {
    /*
        width: 600px;
        margin: auto;
    */
}

#cahierDesCharges > ul {
    list-style-type: none;
    padding-left: 0;
}

#cahierDesCharges > ul li {
    line-height: 1.5;
    font-size: 15px;
}

textarea.tchoukup-emails {
    width: 50%;
    height: 300px;
}

/* !@media */

@media only screen and (max-device-width: 1300px) {
    /* Small screen */

}

@media only screen and (min-width: 1300px) {

    /* Large screen, non-retina */

}
